# Dependencies
node_modules/
frontend/node_modules/

# Lambda dependencies (trop volumineux pour GitHub)
lambda/*/node_modules/
lambda/*/*.pyc
lambda/*/__pycache__/
lambda/article-generator/anthropic*/
lambda/article-generator/urllib3*/
lambda/article-generator/boto3*/
lambda/article-generator/botocore*/
lambda/article-generator/certifi*/
lambda/article-generator/distro*/
lambda/article-generator/h11*/
lambda/article-generator/httpcore*/
lambda/article-generator/httpx*/
lambda/article-generator/idna*/
lambda/article-generator/jiter*/
lambda/article-generator/pydantic*/
lambda/article-generator/sniffio*/
lambda/article-generator/typing_extensions*/
lambda/article-generator/anyio*/
lambda/article-generator/docstring_parser*/

# Build
frontend/build/
dist/
*.zip

# Environment
.env
.env.local
.env.production
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
